<form action='/bookmarks' method='post'>
  <label for='bookmark_entry'>Enter a new bookmark url:</label>
  <input type='text' name='url'/>
  <label for='title_entry'>Enter bookmark title: </label>
  <input type='text' name='title'/>
  <input type='submit' name='Submit'/>
</form>